{% import "AeronauticoBundle::macros_form.html.twig" as forms %}
                {# Primera columna #}

		<div class="grid_4 alpha" >
                    {{ forms.input(form.serial, { 'attr': {'placeholder': '  AJE002-08','size':'15px'} }) }}
		</div>

		<div class="grid_5" >
                    {{ forms.input(form.siglas, { 'attr': {'placeholder': '  EV0069'} }) }}
		</div>

		<div class="grid_6 omega" >
                    {{ forms.input(form.horametro) }}
		</div>
		<div class="clear"></div>

		{# Segunda columna #}

		<div class="grid_4 alpha" >
                    {{ forms.input(form.ciclos, { 'attr': {'size':'15px'} }) }}
		</div>
		<div class="grid_5 " >
                    {{ forms.input(form.horastt) }}
		</div>

        	<div class="grid_6 omega" >
                    {{ forms.input(form.certificado) }}
		</div>


		<div class="clear"></div>

		{# Tercera columna #}

		<div class="grid_5 prefix_2 alpha" >
                    {{ forms.input(form.tipoAeronave) }}
		</div>

		<div class="grid_9 omega" >
                    {{ forms.input(form.cliente) }}
		</div>

		<div class="clear"></div>