{# src src/Taller/AeronauticoBundle/Resource/views/Aeronave/new.html.twig #}
{% extends app.request.isXmlHttpRequest  ? 'AeronauticoBundle::layout_ajax.html.twig' :'AeronauticoBundle::layout.html.twig' %}


{% block title %}Nueva Aeronave{% endblock %}

{% block pageid 'new' %}

{% block body %}

<div class="grid_16 " >
 {{ parent() }}

  {{ form_errors(form) }}

	<form action="{{ path('_AeronauticoBundle_new') }}" method="post" {{ form_enctype(form) }}>

		
                {% include 'AeronauticoBundle:Aeronave:form_aeronave.html.twig' %}

		{# Cuarta columna #}

                {% if not app.request.isXmlHttpRequest %}
		<div class="grid_2 prefix_7" >
		    <p>
			<input type="submit" value="Guardar" />
		    </p>
		</div>
                <div class="clear"></div>
                {% endif %}
		

		{{ form_errors(form._token) }}
		{{ form_widget(form._token) }}


	</form>

	{{ block('listado_aeronave') }}
</div>

{% endblock body%}

{% block javascripts %}
{{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {

                        $('select').selectmenu({width:'auto'}); 

            });
            
        </script>
{% endblock javascripts%}
